*{
    margin: 0px;
    padding: 0px;
}

:root{
    --VerdeFote: #0F6939;
    --VerdeFraco:#83C341 ;
    --Bege: #f5deb8;
}

body{
    background-color: var(--Bege);
    background-image: url(img/textura.jpg);
}

