*{
    margin: 0px;
    padding: 0px;
}

:root{
    --VerdeForte: #0F6939;
    --VerdeFraco:#83C341 ;
    --Bege: #f1efe2;
}

section{
    margin: 2vw;
    background-color: var(--VerdeForte);

}
body{
    background-image: url(img/textura.jpg);
    font-family:"Montserrat Alternates", sans-serif;;
    background-color: var(--VerdeForte);
}

h3{
font-size: 32px;
padding: 2vw;
background-color: var(--VerdeFraco);
color:var(--VerdeForte);
text-align: center;

}

p{
    padding:2vw;
    font-size: 16px;
    text-align: justify;

}

h4,h5{
    padding:2vw;
    font-size: 24px;


}


.cabecalho{
    flex-direction: column;
display: flex;
align-items: center;
justify-content: center;

}

.logo{
    height: 30vw;
}

.nome{
    padding:0px;
    font-size: 56px;
}
.menu{
    display: flex;
    background-color: var(--VerdeFraco);
    color: var(--VerdeForte);
}