*{
    margin: 0px;
    padding: 0px;
}

:root{
    --VerdeFote: #0F6939;
    --VerdeFraco:#83C341 ;
    --Bege: #f1efe2;
}

body{
    font-family:"Montserrat Alternates", sans-serif;;
    background-image: url(img/textura.jpg);
}

h3{
font-size: 32px;
padding: 2vw;
background-color: var(--VerdeFote);
color:var(--Bege);
text-align: center;

}

p{
    padding:2vw;
    font-size: 16px;
    text-align: justify;

}

h4,h5{
    padding:2vw;
    font-size: 24px;


}